@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Chat App</h1>
    <p> To start chat, please login first, you can login by <a href="http://localhost:5207/Identity/Account/Login?ReturnUrl=%2FChat">Click Here</a>.</p>
</div>
